.fullHeight {
  max-height: 2000px;
  transition: all 0.6s ease-in-out;
}

.normalHeight {
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.button-group {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    text-transform: uppercase;
  }
}
.singleDefinition {
  margin-bottom: 20px;
}
.wrapper {
  overflow: hidden;
  text-align: left;
  p {
    color: black;
  }
}

.arrow,
.delete {
  cursor: pointer;
}
